*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
/*======================================
        Header Part Start Here
========================================*/
#header{
    background-color: #151414;
    height: 50px;
    padding-top: 13px;
}
.header_social span{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #aaa;
    text-transform: capitalize;
    padding-right: 10px;
}
.header_social a{
    color: #aaa;
    margin: 0 7px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.header_social a:hover, .header_contact a:hover{
    color: #119ee6;
}
.header_social a i, .header_contact a i{
    font-size: 14px;
}
.header_contact{
    justify-content: flex-end;
    display: flex;
    column-gap: 40px;
}
.header_contact a{
    color: #aaa;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.header_contact a i{
    padding-right: 8px;
}
.header_contact a:first-child{
    position: relative;
}
.header_contact a:first-child::after{
    position: absolute;
    right: -20px;
    top: -4px;
    content: '';
    background-color: #aaa;
    height: 30px;
    width: 1px;
}
/*======================================
        Header Part End Here
========================================*/


/*======================================
        Navbar Part Start Here
========================================*/
.navbar{
    background-color: #fff;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 0px 5px 25px -13px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 5px 25px -13px rgba(0,0,0,0.28);
    box-shadow: 0px 5px 25px -13px rgba(0,0,0,0.28);
}
.nav-item .nav-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #151414; 
    position: relative;
    padding: 27px 16px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.nav-item .nav-link::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    left: 0;
    top: 0;
    background-color: #119ee6;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.nav-item .nav-link:hover{
    color: #119ee6;
}
.nav-item .nav-link:hover::after{
    width: 100%;
}
.cart_part{
    width: 130px;
    text-align: right;
    position: relative;
}
.cart_part::after{
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: #aaa;
    content: '';
    left: 57px;
    top: -20px;
}
.cart_part i{
    font-size: 20px;
    color: #151414;
    cursor: pointer;
}
.avatar{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: 2px solid #151414;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 18px;
    left: 25px;
    cursor: pointer;
}
.avatar_inner{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #119ee6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}
/*======================================
        Navbar Part End Here
========================================*/


/*======================================
        Banner Part Start Here
========================================*/
#banner{
    background-color: #f2f2f2;
    padding: 135px 0 135px 0;
}
.banner_content{
    padding-right: 40px;
}
.banner_content h1{
    font-size: 46px;
    line-height: 70px;
    font-weight: 700;
    color: #151414;
    text-transform: capitalize;
    font-family: 'PT Serif', serif;
    padding-top: 35px;
}
.banner_content p{
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #646464;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}
.banner_content a{
    padding: 14px 26px;
    background-color: #119ee6;
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 17px;
}
.banner_content a i{
    padding-left: 8px;
    vertical-align: middle;
}
/*======================================
        Banner Part End Here
========================================*/


/*======================================
        Hosting Part Start Here
========================================*/
.hosting_item{
    background-color: #119ee6;
    padding: 60px 30px 10px 30px;
    position: relative;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.hosting_item h3{
    color: #fff;
    text-transform: capitalize;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 25px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.hosting_item p{
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px 0;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.hosting_item a{
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    vertical-align: middle;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.hosting_item a i{
    vertical-align: middle;
    padding-left: 8px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.hosting_btn{
    height: 0;
    overflow: hidden;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.hosting_icon{
    height: 65px;
    width: 65px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #151414;
    position: absolute;
    left: 30px;
    top: -33px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.hosting_icon_inner{
    width: 50px;
    height: 50px;
    background-color: #119ee6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.hosting_icon_inner i{
    font-size: 20px;
    color: #fff;
}
.hosting_item:hover{
    margin-top: -37px;
    padding-bottom: 20px;
    background-color: #fff;

}
.hosting_item:hover h3, .hosting_item:hover p{
    color: #151414;
}
.hosting_item:hover a{
    color: #119ee6;
}
.hosting_item:hover .hosting_icon{
    border-color: #119ee6;
}
.hosting_item:hover .hosting_icon_inner{
    background-color: #151414;
}
.hosting_item a:hover i{
    padding-left: 15px;
}
.hosting_item:hover .hosting_btn{
    height: 27px;
}
/*======================================
        Hosting Part End Here
========================================*/


/*======================================
        Domain Part Start Here
========================================*/
#domain{
    height: 300px;
    background-color: black;
}
/*======================================
        Domain Part End Here
========================================*/


/*======================================
        Feature Part Start Here
========================================*/
/*======================================
        Feature Part End Here
========================================*/


/*======================================
        Price Part Start Here
========================================*/
/*======================================
        Price Part End Here
========================================*/