*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
/*======================================
        Header Part Start Here
========================================*/
#header{
    background-color: #151414;
    height: 50px;
    padding-top: 13px;
}
.header_social span{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #aaa;
    text-transform: capitalize;
    padding-right: 10px;
}
.header_social a{
    color: #aaa;
    margin: 0 7px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.header_social a:hover, .header_contact a:hover{
    color: #119ee6;
}
.header_social a i, .header_contact a i{
    font-size: 14px;
}
.header_contact{
    justify-content: flex-end;
    display: flex;
    column-gap: 40px;
}
.header_contact a{
    color: #aaa;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.header_contact a i{
    padding-right: 8px;
}
.header_contact a:first-child{
    position: relative;
}
.header_contact a:first-child::after{
    position: absolute;
    right: -20px;
    top: -4px;
    content: '';
    background-color: #aaa;
    height: 30px;
    width: 1px;
}
/*======================================
        Header Part End Here
========================================*/


/*======================================
        Navbar Part Start Here
========================================*/
.navbar{
    background-color: #fff;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 0px 5px 25px -13px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 5px 25px -13px rgba(0,0,0,0.28);
    box-shadow: 0px 5px 25px -13px rgba(0,0,0,0.28);
}
.nav-item .nav-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #151414; 
    position: relative;
    padding: 27px 16px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.nav-item .nav-link::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    left: 0;
    top: 0;
    background-color: #119ee6;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.nav-item .nav-link:hover{
    color: #119ee6;
}
.nav-item .nav-link:hover::after{
    width: 100%;
}
.cart_part{
    width: 130px;
    text-align: right;
    position: relative;
}
.cart_part::after{
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: #aaa;
    content: '';
    left: 57px;
    top: -20px;
}
.cart_part i{
    font-size: 20px;
    color: #151414;
    cursor: pointer;
}
.avatar{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: 2px solid #151414;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 18px;
    left: 25px;
    cursor: pointer;
}
.avatar_inner{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #119ee6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}
/*======================================
        Navbar Part End Here
========================================*/


/*======================================
        Banner Part Start Here
========================================*/
#banner{
    background-color: #f2f2f2;
    padding: 135px 0 135px 0;
}
.banner_content{
    padding-right: 40px;
}
.banner_content h1{
    font-size: 46px;
    line-height: 70px;
    font-weight: 700;
    color: #151414;
    text-transform: capitalize;
    font-family: 'PT Serif', serif;
    padding-top: 35px;
}
.banner_content p{
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #646464;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}
.banner_content a{
    padding: 14px 26px;
    background-color: #119ee6;
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 17px;
}
.banner_content a i{
    padding-left: 8px;
    vertical-align: middle;
}
/*======================================
        Banner Part End Here
========================================*/


/*======================================
        Hosting Part Start Here
========================================*/
.hosting_item{
    background-color: #119ee6;
    padding: 60px 30px 10px 30px;
    position: relative;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.hosting_item h3{
    color: #fff;
    text-transform: capitalize;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 25px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.hosting_item p{
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px 0;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.hosting_item a{
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    vertical-align: middle;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.hosting_item a i{
    vertical-align: middle;
    padding-left: 8px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.hosting_btn{
    height: 0;
    overflow: hidden;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.hosting_icon{
    height: 65px;
    width: 65px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #151414;
    position: absolute;
    left: 30px;
    top: -33px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.hosting_icon_inner{
    width: 50px;
    height: 50px;
    background-color: #119ee6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.hosting_icon_inner i{
    font-size: 20px;
    color: #fff;
}
.hosting_item:hover{
    margin-top: -37px;
    padding-bottom: 20px;
    background-color: #fff;

}
.hosting_item:hover h3, .hosting_item:hover p{
    color: #151414;
}
.hosting_item:hover a{
    color: #119ee6;
}
.hosting_item:hover .hosting_icon{
    border-color: #119ee6;
}
.hosting_item:hover .hosting_icon_inner{
    background-color: #151414;
}
.hosting_item a:hover i{
    padding-left: 15px;
}
.hosting_item:hover .hosting_btn{
    height: 27px;
}
/*======================================
        Hosting Part End Here
========================================*/


/*======================================
        Domain Part Start Here
========================================*/
#domain{
    padding: 100px 0;
    background-image: url(../images/domain_bg.jpg);
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}.sub_heading{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
.main_heading{
    font-size: 28px;
    font-weight: 600;
    font-family: 'PT Serif', serif;
    text-transform: capitalize;
    padding: 20px 0 40px 0;
}
.domain_exten_main{
    display: flex;
    justify-content: space-between;
}
.exten_name{
    display: block;
    font-weight: 700;
    font-family: 'PT Serif', serif;
    font-size: 20px;
}
.exten_price{
    font-size: 16px;
}
.exten_price span{
    font-size: 12px;
}
form .input_group{
    margin-top: 40px;
    border: 10px solid #119ee6;
    width: 100%;
    background-color: #151414;
}
form .input_group input{
    border: none;
    width: 80%;
    background-color: #fff;
    height: 100%;
    outline: none;
    height: 40px;
    padding-left: 30px;
}
form .input_group select{
    width: 19%;
    border: none;
    outline: none;
    height: 100%;
    background-color: #151414;
    padding: 8px 0;
    color: #fff;
}
#domain form button{
    padding: 13px 23px;
    color: #fff;
    background-color: #119ee6;
    font-family: 'PT Serif', serif;
    text-transform: capitalize;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/*======================================
        Domain Part End Here
========================================*/


/*======================================
        Feature Part Start Here
========================================*/
#feature{
    padding-top: 100px;
}
#feature .main_heading{
    color: #151414;
    margin-bottom: 20px;
}
.feature_item{
    margin-bottom: 50px;
}
.feature_item .feature_icon{
    position: relative;
}
.feature_item .feature_icon i{
    color: #119ee6;
    font-size: 35px;
}
.feature_item .feature_icon::after{
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 80px;
    height: 2px;
    background-color: #119ee6;
    content: '';
}
.feature_item h3{
    font-family: 'PT Serif', serif;
    font-size: 22px;
    color: #151414;
    font-weight: 600;
    text-transform: capitalize;
    padding: 47px 0 30px 0;
    line-height: 0;
}
.feature_item p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
/*======================================
        Feature Part End Here
========================================*/


/*======================================
        Price Part Start Here
========================================*/
#price{
    background-color: #f9f9f9;
    padding: 100px 0;
}
.price_item{
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
}
.price_head{
    background-color: #151414;
    padding: 30px 30px 0 30px;
    color: #fff;
    position: relative;
    transition: all linear 0.3s;
}
.price_circle{
    color: #fff;
    font-size: 30px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #151414;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: all linear 0.3s;
}
.price_circle_shape{
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    position: absolute;
    border-bottom: 2px solid #fff;
    height: 100px;
    width: 87px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    
}
.recommended{
    position: absolute;
    background-color: #fff;
    color: #119ee6;
    top: -29px;
    left: -81px;
    transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    -moz-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.price_head h4{
    font-size: 18px;
    font-family: 'PT Serif', serif;
    text-transform: capitalize;
    font-weight: 700;
}
.price_head p{
    font-size: 12px;
    font-family: 'PT Serif', serif;
    text-transform: capitalize;
    font-weight: 400;
    font-style: italic;
    margin: 0;
}
.price_head h3{
    font-size: 22px;
    font-family: 'PT Serif', serif;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0;
    padding-bottom: 55px;
}
.price_head h3 span{
    font-size: 16px;
    text-transform: lowercase;
}
.price_info{
    padding: 60px 30px 30px 30px;
}
.price_info ul{
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #999;
    text-transform: capitalize;
}
.price_info ul li{
    margin-bottom: 10px;
}
.price_info ul li:first-child i{
    color: #999;
}
.price_info ul li i{
    margin-right: 10px;
    color: #119ee6;
}
.price_info a{
    background-color: #119ee6;
    color: #fff;
    padding: 13px 20px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'PT Serif', serif;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
    transition: all linear 0.3s;
}
.recommended p{
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    padding: 2px 35px;
}
.price_info a:hover{
    background-color: #151414;
}
.price_item:hover .price_head, .price_item:hover .price_circle{
    background-color: #119ee6;
}
.price_item:hover .recommended{
    left: -32px;
    top: 28px;
}
/*======================================
        Price Part End Here
========================================*/


/*======================================
        Counter Part Start Here
========================================*/
#counter{
    background-color: #020202;
    padding: 100px 0;
}
.counter_item{
    color: #fff;
}
.counter_item h3{
    font-size: 20px;
    font-weight: 400;
    font-family: 'PT Serif', serif;
    text-transform: capitalize;
    
}
.counter_item h2{
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    margin-bottom: 0;
}
/*======================================
        Counter Part End Here
========================================*/



/*======================================
        Counter Part Start Here
========================================*/
/*======================================
        Counter Part End Here
========================================*/



/*======================================
        Counter Part Start Here
========================================*/
/*======================================
        Counter Part End Here
========================================*/